<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.thiki.datavalidator.biz.PromotionMapper">

	<select id="fetchPromotionWithoutProduction" resultType="org.thiki.datavalidator.biz.Promotion">
        select *
        from `vd_promotion` pm
        left join `vd_product` pd
        on pm.product_id = pd.id
        where pd.id is NULL
	</select>

<!--
	<select id="getActivityAndServerMapping" resultType="com.hoolai.sango.admin.activity.ActivityTemplateServer">
		select * from activity_server where TemplateId = #{templateId} and ProductId = #{productId} and ServerId = #{serverId}
	</select>
-->

</mapper>
